Repository Step3-kakao-tech-campus/Team9_BE, pull requests merged in 2023-10, with the labels that each got.

#55 북마크 CRUD API 구현
  linknamu/src/main/java/com/kakao/linknamu/bookmark/BookmarkExceptionStatus.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/controller/BookmarkController.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/dto/BookmarkRequestDto.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/dto/BookmarkResponseDto.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/repository/BookmarkJPARepository.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/service/BookmarkCreateService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/service/BookmarkDeleteService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/service/BookmarkSearchService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmark/service/BookmarkUpdateService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/BookmarkTagExceptionStatus.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/BookmarkTagJPARepository.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/entity/BookmarkTag.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/entity/BookmarkTagId.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/repository/BookmarkTagJPARepository.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/service/BookmarkTagDeleteService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/service/BookmarkTagSaveService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/service/BookmarkTagSearchService.java
  linknamu/src/main/java/com/kakao/linknamu/tag/TagExceptionStatus.java
  linknamu/src/main/java/com/kakao/linknamu/tag/entity/Tag.java
  linknamu/src/main/java/com/kakao/linknamu/tag/repository/TagJPARepository.java
  linknamu/src/main/java/com/kakao/linknamu/tag/service/TagDeleteService.java
  linknamu/src/main/java/com/kakao/linknamu/tag/service/TagSaveService.java
  linknamu/src/main/java/com/kakao/linknamu/tag/service/TagSearchService.java
  linknamu/src/test/java/com/kakao/linknamu/bookmark/repository/BookmarkJPARepositoryTest.java
  linknamu/src/test/java/com/kakao/linknamu/bookmarkTag/repository/BookmarkTagJPARepositoryTest.java
  linknamu/src/test/java/com/kakao/linknamu/tag/repository/TagJPARepositoryTest.java
Labels: Priority: High, Status: In Progress, Domain: API, Domain: Test

#90 #85 4주차 PR 코드 리뷰 피드백을 토대로 코드 수정
  linknamu/src/main/java/com/kakao/linknamu/_core/config/HttpConnectionConfig.java
  linknamu/src/main/java/com/kakao/linknamu/_core/redis/RedisExceptionStatus.java
  linknamu/src/main/java/com/kakao/linknamu/_core/security/JwtExceptionFilter.java
Labels: Priority: High

#92 #91 북마크 삭제 시 발생하는 에러를 수정 해결.
  linknamu/src/main/java/com/kakao/linknamu/bookmark/service/BookmarkDeleteService.java
  linknamu/src/main/java/com/kakao/linknamu/bookmarkTag/entity/BookmarkTag.java
Labels: Type: Bug, Priority: High, Domain: API

#107 Google Docs 링크 연동 API 구현
  linknamu/build.gradle
  linknamu/src/main/java/com/kakao/linknamu/_core/config/GoogleDocsConfig.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/GoogleDocsExceptionStatus.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/controller/GoogleDocsController.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/dto/GoogleDocsApiRegistrationRequestDto.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/entity/GooglePage.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/repository/GooglePageJPARepository.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/service/GoogleDocsApiBatchService.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/service/GoogleDocsApiCreateService.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/service/GoogleDocsApiDeleteService.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/service/GoogleDocsApiGetService.java
  linknamu/src/main/java/com/kakao/linknamu/googleDocs/util/InvalidGoogleDocsApiException.java
  linknamu/src/main/java/com/kakao/linknamu/workspace/service/WorkspaceSaveService.java
Labels: Priority: High, Status: In Progress, Domain: DB, Domain: API, Domain: Test

#113 #105 다양한 노션 링크 종류 추출 구현
  linknamu/docker-compose-stage.yml
  linknamu/src/main/java/com/kakao/linknamu/notion/service/NotionApiBatchService.java
Labels: Domain: Algorithm

#130 #126 워크스페이스 테스트 코드 작성
  linknamu/src/test/java/com/kakao/linknamu/_core/TestConfig.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/controller/WorkspaceControllerTest.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/repository/WorkspaceJpaRepositoryTest.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/service/WorkspaceDeleteServiceTest.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/service/WorkspaceReadServiceTest.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/service/WorkspaceSaveServiceTest.java
  linknamu/src/test/java/com/kakao/linknamu/workspace/service/WorkspaceUpdateServiceTest.java
Labels: Domain: Test
